<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Audio Gallery</title>
    <link rel="stylesheet" href="../bootstrap4/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container my-1 my-sm-5 bg-dark text-light">
      <!--title here-->
      <h1 class="text-center">Audio Gallery</h1>
      <!--lead paragraph here-->
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam corrupti aspernatur,
        nulla perspiciatis rerum cupiditate quod qui fugit saepe quis eos cumque officiis, magnam
        dolorum sequi voluptatum doloribus repudiandae?
      </p>
      <!--top pagination here-->
      <nav aria-label="search results pages">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a href="#" class="page-link">Previous</a></li>
          <li class="page-item active">
            <a href="#" class="page-link">1<span class="sr-only">(current)</span></a>
          </li>
          <li class="page-item"><a href="#" class="page-link">2</a></li>
          <li class="page-item"><a href="#" class="page-link">3</a></li>
          <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
      </nav>
      <!--first row here-->
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <figure class="figure">
            <div class="embed-responsive embed-responsive-1by1 figure-img">
              <iframe
                width="100%"
                height="450"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
              ></iframe>
            </div>
            <figcaption class="figure-caption">
              <h6>Eric Zablon <small>(12-12-2019)</small></h6>
              <p class="text-white">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                lorem sed elementum.
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <figure class="figure">
            <div class="embed-responsive embed-responsive-1by1 figure-img">
              <iframe
                width="100%"
                height="450"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
              ></iframe>
            </div>
            <figcaption class="figure-caption">
              <h6>Eric Zablon <small>(12-12-2019)</small></h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                lorem sed elementum.
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <figure class="figure">
            <div class="embed-responsive embed-responsive-1by1 figure-img">
              <iframe
                width="100%"
                height="450"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
              ></iframe>
            </div>
            <figcaption class="figure-caption">
              <h6>Eric Zablon <small>(12-12-2019)</small></h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                lorem sed elementum.
              </p>
            </figcaption>
          </figure>
        </div>
        <!--second row here-->
        <div class="col-12 col-md-6 col-lg-4">
          <figure class="figure">
            <div class="figure-img">
              <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
              ></iframe>
            </div>
            <figcaption class="figure-caption">
              <h6>Eric Zablon <small>(12-12-2019)</small></h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                lorem sed elementum.
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <figure class="figure">
            <div class="figure-img">
              <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
              ></iframe>
            </div>
            <figcaption class="figure-caption">
              <h6>Eric Zablon <small>(12-12-2019)</small></h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                lorem sed elementum.
              </p>
            </figcaption>
          </figure>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <figure class="figure">
            <div class="figure-img">
              <iframe
                width="100%"
                height="166"
                scrolling="no"
                frameborder="no"
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
              ></iframe>
            </div>
            <figcaption class="figure-caption">
              <h6>Eric Zablon <small>(12-12-2019)</small></h6>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                lorem sed elementum.
              </p>
            </figcaption>
          </figure>
        </div>
        <!--third row here-->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
              <div class="embed-responsive embed-responsive-1by1 figure-img">
                <iframe
                  width="100%"
                  height="450"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                ></iframe>
              </div>
              <figcaption class="figure-caption">
                <h6>Eric Zablon <small>(12-12-2019)</small></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                  lorem sed elementum.
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
              <div class="embed-responsive embed-responsive-1by1 figure-img">
                <iframe
                  width="100%"
                  height="450"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                ></iframe>
              </div>
              <figcaption class="figure-caption">
                <h6>Eric Zablon <small>(12-12-2019)</small></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                  lorem sed elementum.
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
              <div class="embed-responsive embed-responsive-1by1 figure-img">
                <iframe
                  width="100%"
                  height="450"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"
                ></iframe>
              </div>
              <figcaption class="figure-caption">
                <h6>Eric Zablon <small>(12-12-2019)</small></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                  lorem sed elementum.
                </p>
              </figcaption>
            </figure>
          </div>
          <!--fourth row here-->
          <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
              <div class="figure-img">
                <iframe
                  width="100%"
                  height="166"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
                ></iframe>
              </div>
              <figcaption class="figure-caption">
                <h6>Eric Zablon <small>(12-12-2019)</small></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                  lorem sed elementum.
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
              <div class="figure-img">
                <iframe
                  width="100%"
                  height="166"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
                ></iframe>
              </div>
              <figcaption class="figure-caption">
                <h6>Eric Zablon <small>(12-12-2019)</small></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                  lorem sed elementum.
                </p>
              </figcaption>
            </figure>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <figure class="figure">
              <div class="figure-img">
                <iframe
                  width="100%"
                  height="166"
                  scrolling="no"
                  frameborder="no"
                  src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/41395010&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"
                ></iframe>
              </div>
              <figcaption class="figure-caption">
                <h6>Eric Zablon <small>(12-12-2019)</small></h6>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque
                  lorem sed elementum.
                </p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
    <!--last pagination here-->
    <nav aria-label="search results pages">
      <ul class="pagination justify-content-center">
        <li class="page-item"><a href="#" class="page-link">Previous</a></li>
        <li class="page-item active">
          <a href="#" class="page-link">1<span class="sr-only">(current)</span></a>
        </li>
        <li class="page-item"><a href="#" class="page-link">2</a></li>
        <li class="page-item"><a href="#" class="page-link">3</a></li>
        <li class="page-item"><a href="#" class="page-link">Next</a></li>
      </ul>
    </nav>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../bootstrap4/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap4/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
