<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Template</title>
    <link rel="stylesheet" href="../bootstrap4/css/bootstrap.min.css" />
  </head>

  <body>
    <div class="container my-3 my-sm-5">
      <h1 class="mb-sm-4 text-center">Contact</h1>
      <div class="row">
        <div class="col-12 col-md-6">
          <h4>Address</h4>
          <address>
            <strong>Empire State Building</strong><br />
            350 5th Avenue<br />
            New York, NY 10118<br />
            <abbr title="Telephone">T:</abbr>
            <a href="tel:+12127363100">(212) 736-3100</a><br />
            <abbr title="Mail">M:</abbr>
            <a href="mailto:info@domain.com">info@domain.com</a>
          </address>
        </div>
        <div class="col-12 col-md-6">
          <h4>Opening Hours:</h4>
          <p>
            Monday-Tuesday: <span class="float-right">10 am - 6 pm</span> <br />
            Friday-Saturday:
            <span class="float-right"> 10 am - 10 pm</span>
            <br />
            Sunday: <span class="float-right">10 am - 8 pm </span> <br />
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mb-3">
          <h4>Send us a message</h4>
          <form action="#">
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" id="name" class="form-control" placeholder="name" required />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" class="form-control" id="email" placeholder="example@gmail.com" required />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="telephone">Telephone</label>
                  <input type="tel" class="form-control" id="telephone" placeholder="0123456789" />
                </div>
              </div>
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label for="select" Department></label>
                  <select name="" id="select" class="form-control" aria-describedby="select-helpBlock" required>
                    <option value="">- select here -</option>
                    <option value="business">Business</option>
                    <option value="sale">Sale</option>
                    <option value="support">Support</option>
                  </select>
                  <small id="select-helpBlock" class="form-text">Please select the recipient of your message.</small>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="textarea">Message:</label>
              <textarea id="textarea" class="form-control" rows="5" placeholder="Write your message here..." required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
          </form>
        </div>
        <div class="col-12 col-lg-6">
          <h4>Where to find us:</h4>
          <div class="embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6175453420647!2d-73.98784413479707!3d40.748440379327945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9aeb1c6b5%3A0x35b1cfbc89a6097f!2sEmpire+State+Building%2C+350+5th+Ave%2C+New+York%2C+NY+10118%2C+USA!5e0!3m2!1sda!2sdk!4v1491841211721" width="600" height="450" frameborder="0" style="border: 0;" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../bootstrap4/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap4/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
