<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FAQ Temp</title>
    <link rel="stylesheet" href="../bootstrap4/css/bootstrap.min.css" />
  </head>
    <div class="container my-3 my-sm-5">
      <h1 class="text-center mb-3 mb-sm-5">Frequently Asked Questions</h1>
      <div id="accordion" role="tablist" aria-multiselectable="true">
        <div class="card my-1">
          <div class="card-header bg-danger" role="tab" id="questionOne">
            <h5 class="mb-0"><a href="#collapseOne" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseOne">Question One</a></h5>
          </div>
          <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="questionOne">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header badge-dark" role="tab" id="questionTwo">
            <h5 class="mb-0"><a href="#collapseTwo" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo">Question Two</a></h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="questionTwo">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-info" role="tab" id="questionThree">
            <h5 class="mb-0"><a href="#collapseThree" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">Question Three</a></h5>
          </div>
          <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="questionThree">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-secondary" role="tab" id="questionFour">
            <h5 class="mb-0"><a href="#collapseFour" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFour">Question Four</a></h5>
          </div>
          <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="questionFour">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-success" role="tab" id="questionFive">
            <h5 class="mb-0"><a href="#collapseFive" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFive">Question Five</a></h5>
          </div>
          <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="questionFive">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-warning" role="tab" id="questionSix">
            <h5 class="mb-0"><a href="#collapseSix" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseSix">Question Six</a></h5>
          </div>
          <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="questionSix">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-white" role="tab" id="questionSeven">
            <h5 class="mb-0"><a href="#collapseSeven" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseSeven">Question Seven</a></h5>
          </div>
          <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="questionSeven">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-dark" role="tab" id="questionEight">
            <h5 class="mb-0"><a href="#collapseEight" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseEight">Question Eight</a></h5>
          </div>
          <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="questionEight">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-danger" role="tab" id="questionNine">
            <h5 class="mb-0"><a href="#collapseNine" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseNine">Question Nine</a></h5>
          </div>
          <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="questionNine">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
        <div class="card my-1">
          <div class="card-header bg-success" role="tab" id="questionTen">
            <h5 class="mb-0"><a href="#collapseTen" class="collapsed" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTen">Question Ten</a></h5>
          </div>
          <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="questionTen">
            <div class="card-block">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mattis posuere consequat. Nulla fermentum sodales augue, vitae ornare eros ornare quis. Donec lectus est, congue eu risus quis, tempus sagittis nunc. Donec blandit accumsan augue eu bibendum. Suspendisse pretium facilisis sapien, ac dignissim leo. Phasellus fermentum nulla eget quam congue sagittis. Donec volutpat vel sapien sit amet lobortis. Aenean non vulputate nunc, eu luctus libero.</div>
          </div>
        </div>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../bootstrap4/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap4/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
