<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mixed Gallery</title>
    <link rel="stylesheet" href="../bootstrap4/css/bootstrap.min.css">
</head>

<body>
    <div class="container my-3 my-sm-5">
        <h1 class="text-center mb-sm-4">Mixed Gallery</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam necessitatibus mollitia quasi blanditiis sequi maxime consectetur quos, sint beatae ab velit tenetur voluptatum adipisci quod natus quis, sit ea quaerat.</p>
        <nav aria-label="search results pages">
            <ul class="pagination justify-content-center text-danger">
                <li class="page-item"> <a href="#" class="page-link">Previous</a></li>
                <li class="page-item active"> <a href="#" class="page-link">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"> <a href="#" class="page-link">2</a></li>
                <li class="page-item"> <a href="#" class="page-link">3</a></li>
                <li class="page-item"> <a href="#" class="page-link">Next</a></li>
            </ul>
        </nav>

        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="http://placehold.it/600x450" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <div class="embed-responsive embed-responsive-16by9 figure-img">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XQu8TTBmGhA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="http://placehold.it/600x450" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <!--second row Here-->
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <div class="embed-responsive embed-responsive-21by9 figure-img">
                        <iframe src="https://player.vimeo.com/video/67879923" width="640" height="274" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="http://placehold.it/600x450" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <div class="embed-responsive embed-responsive-4by3 figure-img">
                        <iframe src="https://player.vimeo.com/video/15941667" width="640" height="472" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <!--Third row Here-->
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="http://placehold.it/600x450" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <div class="embed-responsive embed-responsive-1by1 figure-img">
                        <iframe src="https://player.vimeo.com/video/40509381" width="640" height="640" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                    </div>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="http://placehold.it/600x450" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <!--Fourth row Here-->
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <div class="embed-responsive embed-responsive-16by9 figure-img">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XQu8TTBmGhA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="http://placehold.it/600x450" class="figure-img img-fluid img-thumbnail" alt="Figure image"></a>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <figure class="figure">
                    <div class="embed-responsive embed-responsive-16by9 figure-img">
                        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/XQu8TTBmGhA" frameborder="0" allowfullscreen></iframe>
                    </div>
                    <figcaption class="figure-caption">
                        <h6>Marc Johnson <small>(03-04-2017)</small></h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.
                        </p>
                    </figcaption>
                </figure>
            </div>
        </div>
        <!--Last pagination here-->
        <nav aria-label="search results pages">
            <ul class="pagination justify-content-center">
                <li class="page-item"> <a href="#" class="page-link">Previous</a></li>
                <li class="page-item active"> <a href="#" class="page-link">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"> <a href="#" class="page-link">2</a></li>
                <li class="page-item"> <a href="#" class="page-link">3</a></li>
                <li class="page-item"> <a href="#" class="page-link">Next</a></li>
            </ul>
        </nav>
    </div>


    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../bootstrap4/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap4/js/bootstrap.bundle.min.js"></script>
</body>

</html>