<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foto Gallery</title>
    <link rel="stylesheet" href="../bootstrap4/css/bootstrap.min.css">
</head>

<body>
    <div class="container my-3 my-sm-5">
        <h1 class="mb-sm-4 text-center text-danger">Photo Gallery</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore numquam nihil veniam porro quod, voluptatibus temporibus iure illum totam reprehenderit ullam at accusamus est? Consequatur voluptates illum eveniet. Est, earum!</p>
        <nav aria-label="search results pages">
            <ul class="pagination justify-content-center">
                <li class="page-item"> <a href="#" class="page-link">Prev</a> </li>
                <li class="page-item active"> <a href="#" class="page-link">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"> <a href="#" class="page-link">2</a> </li>
                <li class="page-item"> <a href="#" class="page-link">3</a> </li>
                <li class="page-item"> <a href="#" class="page-link">Next</a> </li>
        </nav>
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <figure class="figure">
                    <a href="#"><img src="../imgs/600x450.png" class="figure-img img-fluid img-thumbnail" alt="figure-image"></a>
                    <figcaption class="figure-caption">
                        <h6>Eric Zablon(12-04-2020)</h6>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.consectetur cum.</p>
                    </figcaption>
                </figure>
            </div>
        </div>

        <nav aria-label="search results">
            <ul class="pagination justify-content-center">
                <li class="page-item"> <a href="#" class="page-link">Prev</a> </li>
                <li class="page-item active"> <a href="#" class="page-link">1 <span class="sr-only">(current)</span></a>
                </li>
                <li class="page-item"> <a href="#" class="page-link">2</a> </li>
                <li class="page-item"> <a href="#" class="page-link">3</a> </li>
                <li class="page-item"> <a href="#" class="page-link">Next</a> </li>
        </nav>
    </div>
    <script src="../bootstrap4/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap4/js/bootstrap.bundle.min.js"></script>
</body>

</html>