<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank You</title>
    <link rel="stylesheet" href="../bootstrap4/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid text-center">
      <div class="container">
        <h1 class="mb-3 mb-md-5">Thank You for singing up!</h1>
        <p class="lead mb-3 mb-md-5">Please check your email for further instructions on how to complete the singn up process</p>
        <p class="mb-3 mb-md-5">Having trouble or got any questions? <a href="#">Contact us</a>.</p>
        <a href="#" class="btn btn-primary btn-lg" role="button">Continue to homepage</a>
      </div>
    </div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="../bootstrap4/js/jquery-3.4.1.min.js"></script>
    <script src="../bootstrap4/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
